.button-length{
  width: 200px;
  min-width: unset!important;
  text-align: left;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 200px;
  height: 100px;
}

.container {

  padding: 10px;
}
