.button-length{
  width: 140px;
  min-width: unset!important;
  text-align: left;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.box div {
  width: 200px;
  height: 100px;
}

.card-length {

  width: 300px;
}

.button-length-clear {
  width: 40px;
  text-align: center;
}
