<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1">Appointment List</h1>
  <button mat-flat-button color="war" type="button" (click)="goBack()">Go Back</button>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- No data message -->
<p *ngIf="AppointmentData.length <= 0" class="no-data">There is no data added yet!</p>

<!-- Appointments list Angular material data table -->
<div class="container" *ngIf="AppointmentData.length > 0">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="last_name">
        <th mat-header-cell class="container" *matHeaderCellDef> Last Name </th>
        <td mat-cell class="container" *matCellDef="let element"> {{element.last_name}} </td>
      </ng-container>

      <ng-container matColumnDef="doctor_select">
        <th mat-header-cell class="container" *matHeaderCellDef> Doctor </th>
        <td mat-cell class="container" *matCellDef="let element"> {{element.doctor_select}} </td>
      </ng-container>

      <ng-container matColumnDef="appointment_date">
        <th mat-header-cell class="container" *matHeaderCellDef> Appointment Date </th>
        <td mat-cell class="container" *matCellDef="let element"> {{element.appointment_date}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell class="container" *matHeaderCellDef> Edit / Delete </th>
        <td mat-cell class="container" *matCellDef="let element; let i = index;">
          <mat-icon color="primary" class="push-right"
            [routerLink]="['/edit-appointment/', element.$key]">edit</mat-icon>
          <mat-icon mat-raised-button color="accent" (click)="deleteAppointment(i, element)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsDisplay;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  <br>
  <a mat-raised-button class="button-length" routerLinkActive="active" routerLink="/add-hospital">
    <mat-icon>playlist_add</mat-icon> Add Another Hospital</a>

  <a mat-raised-button class="button-length" routerLinkActive="active" routerLink="/add-doctor">
    <mat-icon>work</mat-icon> Add A Doctor
  </a>

  <a mat-raised-button class="button-length" routerLinkActive="active" routerLink="/add-appointment">
    <mat-icon>alarm</mat-icon> Make an Appointment
  </a>

</div>
