.button-length {
  width: 140px;
  text-align: center;

}

.box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.box div {
  width: 200px;
  height: 100px;
}

.card-length {

  width: 300px;
}

.button-length-clear {
  width: 40px;
  text-align: center;

}

