.button-length{
  width: 200px;
  min-width: unset!important;
  text-align: left;
  font-size: small;
}

.mat-sidenav-container {

  display: flex;
}

[disabled] {
  pointer-events: none;
}

[disabled="false"] {
  pointer-events: initial;
}
