.button-length.active {
  width: 200px;
  min-width: unset!important;
  font-size: small;
  color: rgb(255, 0, 38);
}

.button-length {
  text-align: left;
}

[disabled] {
  pointer-events: none;
}

[disabled="false"] {
  pointer-events: initial;
}
