.button-length {
  width: 140px;
}

.box {
  display: flex;
  justify-content: left;
  width: 140px;
}

.box div {
  width: 200px;
  height: 100px;
}

.button-length-clear {
  width: 40px;
  text-align: center;

}

