<div class="title-group">
   <h1 class="mat-h1">Add Hospital</h1>
   <button mat-flat-button color="war" type="button" (click)="goBack()">Go Back</button>
   <mat-divider fxFlex="1 0"></mat-divider>
</div>

 <!-- Hospital form -->
 <div class="inner-wrapper">
   <form [formGroup]="hospitalForm" (ngSubmit)="submitHospital()" #resetHospitalForm="ngForm" novalidate>
     <!-- Left block -->
     <mat-card appRoundEdges>
       <div class="controlers-wrapper">

         <!-- Hospital name -->
         <mat-form-field class="Hospital-name">
           <input matInput placeholder="Hospital Name" formControlName="hospital_name">
           <mat-error *ngIf="handleError('hospital_name', 'required')">
             You must provide a <strong>Hospital name!</strong>
           </mat-error>
         </mat-form-field>

         <!-- Contact Number -->
         <mat-form-field class="Contact-Number">
           <input matInput placeholder="Contact Number" formControlName="contact_number" pattern="[0-9]*" minlength="5"
                  maxlength="10">
           <mat-error *ngIf="handleError('contact_number', 'required')">
             You must provide a <strong>valid phone number!</strong>
           </mat-error>
           <mat-error *ngIf="handleError('contact_number', 'pattern')">
             Only numbers are allowed!
           </mat-error>
           <mat-error *ngIf="handleError('contact_number', 'minlength')">
             <strong>Phone contact</strong> must be 10 digit long!
           </mat-error>
         </mat-form-field>

         <!-- Address -->
         <mat-form-field class="example-full-width">
           <input matInput placeholder="Address" formControlName="address">
           <mat-error *ngIf="handleError('address', 'required')">
             You must provide Hospital <strong>address!</strong>
           </mat-error>
         </mat-form-field>
         <button mat-raised-button color="warn" class="button-length" >Submit</button>
       </div>
     </mat-card>
     <br><br>
   </form>
   <br>
   <!-- Submit & Reset -->
   <div class="box" appRoundEdges>
         <button mat-raised-button class="button-length" routerLinkActive="active" routerLink="/appointments-list">
           <mat-icon>assignment</mat-icon> View Appointments
         </button>
         <button mat-raised-button class="button-length" routerLinkActive="active" routerLink="/doctors-list">
           <mat-icon>view_list</mat-icon> View Doctors
         </button>
     <button mat-raised-button (click)="resetForm()" class="button-length">Clear</button>
   </div>
 </div>
