@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { 
  height: 100%; 
}
body { 
  
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  
}

.card-length {

  width: flex;
}

.container {
  padding: 5px;
}

.button-length {
  width: flex;
  padding: 20px;
  min-width: unset!important;
  align-items: flex-start;
  width: 200px;

}

.header {
  justify-content: space-between;
}

.mat-sidenav {
  background-color: #F2F2F2;
  width: 240px;
  padding: 20px;
}

.mat-sidenav-content {
  padding: 20px;
}

body .push-right {
  margin-right: 10px;
}

.button-wrapper {
  margin: 20px 0 0 0;
}

.mat-icon {
  margin-right: 12px;
}

.mat-radio-button,
.mat-radio-group {
  margin-right: 10px;
  margin-left: 5px;
}


.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.controlers-wrapper>* {
  width: 100%;
  padding: 0;
}

.mat-nav-list {
  font-size: 15px;
}

.mat-label {
  margin-right: 15px;
}

.inner-wrapper 
.mat-card {
  display: inline-block;
  margin: 0 6% 0 0;
  vertical-align: top;
}

.button-wrapper button {
  margin-right: 5px;
}

table {
  width: 100%;
}

.full-wrapper {
  width: flex;
}

@media (max-width: 1024px) {

  .inner-wrapper 
   mat-card {
    width: flex;
  }

  .mat-sidenav-content {
    padding: 20px 20px 0;
  }

  .mat-label {
    display: block;
    padding-bottom: 10px;
  }

  .mat-sidenav {
    width: flex;
  }

}

@media (max-width: 760px) {
 
  
}

